$primary: #234D51;
$secondary: #CC998D;
$secondary-light: #ECEBE4;
$tertiary: #429EA6;
$quaternary: #16F4D0;
$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-error,
.flash-success,
.flash-warning {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.banner {
  background: linear-gradient(135deg, $tertiary, $quaternary 60%, $secondary);
  height: 15vh;

  h4 {
    align-self: flex-end;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 12vw;
    height: 10vw;
    margin-left: 20px;
    padding-top: 10px;
  }
}

.btn {
  border: $quaternary 1px solid;
  margin: 5px;
}

a {
  color: $tertiary;
}

.carousel-item {
  width: 50vw;
  height: 50vh;
}
